body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, purple, blue);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0px;
}

.sidebar {
    height: 100vh;
    width: 25ch;
    color: white;
    overflow: hidden;
}

.sidebar > ul {
    padding: 0px;
}

.sidebar > ul > li {
    position: relative;
    left: 0px;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: #0000;
    transition: all 0.25s ease-in-out;
}

.sidebar > ul > li:hover {
    background: #fff8;
    left: 10px;
}

.activePage {
    position: relative;
    background: #0009;
    color: white;
    width: calc(100% - 25ch);
    height: 100%;
    overflow: hidden;
}

.header {
    margin: 0px;
    height: 8%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullHeight {
    height: 92%;
}

.centerParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px 1px #000;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background: #fffd;
    color: #444;
}

.clientsForm {
    display: flex;
    flex-direction: column;
}

.textInput {
    border: none;
    padding: 0.5rem;
    background-color: #eee;
    box-shadow: 1px 1px 2px 1px #000;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.submitButton {
    color: #009b;
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #009;
    outline-width: 1px;
    outline-color: #009b;
    background: #00f2;
    cursor: pointer;
}

.textArea {
    height: 10ch;
    min-width: 40ch;
}

.osHolder {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.osDisplaysContainer {
    display: flex;
    justify-content: space-between;
}

.osDisplay {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 50%;
    max-height: 90vh;
    align-items: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #8086;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #33a6;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.osContainer {
    color: #444;
    width: 400px;
    padding: 0.25rem;
    background: white;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 30px 1px #000;
    text-align: justify;
    padding: 1rem;
    border-radius: 25px;
    margin: 20px;
}

.osData {
    font-size: 1.5rem;
    font-weight: bolder;
}

.osType {
    text-align: center;
    margin: 0px;
}

.osDescription {
    font-size: 1rem;
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3.9rem;
}

.osButtonsContainer {
    display: flex;
    justify-content: space-evenly;
}

.osButton {
    all: initial;
    font: inherit;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    transition: all 0.1s ease-in-out;
    box-shadow: 3px 3px 5px 1px #000;
    transform: translate(-2px, -2px);
    cursor: pointer;
    border-radius: 5px;
}

.commentButton {
    background: #aaf9;
}

.commentButton:hover {
    background: #aaff;
    box-shadow: 5px 5px 5px 1px #000;
    transform: translate(-3px, -3px);
}

.finishButton {
    background: #af99;
}

.finishButton:hover {
    background: #afaf;
    box-shadow: 5px 5px 5px 1px #000;
    transform: translate(-3px, -3px);
}

.osButton:active {
    box-shadow: none;
    transform: translate(0, 0);
}

.commentInput {
    width: 100%;
}

.commentsContainer {
    background: #eee;
    margin-bottom: 2rem;
    height: 15vh;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px 1px #0008;
    outline: #aaa solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.commentText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    text-align: justify;
}

.commentHolder {
    padding-bottom: 0.25rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 0.5rem;
}
